body{
    background-color: aqua;
    
}
h1{
    font-size: 50px;
    margin-left: 20px;
}
img{
    text-align:left;
    margin-left:600px ;
    margin-top: 200px;
}
li a{
    color: black;
    font-size: 25px;
}
    ul{
    list-style: none;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 10;
    display: flex;
    margin-left: 1450px;
}
nav li {
    margin: 5px;
}

li a:hover{
    transition: 0.5s;
    color: red;
}
.texto-em-coluna{
    font-size: 30px;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
    text-align:left; 
    margin-top: -390px;
}